<html>
    <head>
        <link href="../css/LSFpage.css" rel="stylesheet"/>
        <script src="../js/jquery-1.10.2.min.js"></script>
        <title>Admin Login</title>
    </head>
    <body>
        <div id="box">
            <div id="main1"></div>           
            <form action="../user/AdminLogin" method="post">
                <div id="fpform">
                    <h1>Login as Admin</h1>
                    <input type="email" name="email" id="email" placeholder="Email" value="{{email}}"/><br><br>
                    <input type="password" name="password" placeholder="Password" value="{{password}}"/><br><br>             
                    <button id = "submitb" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </body>      
</html>