<!-- from https://www.codeexplained.org/2018/10/create-multiple-choice-quiz-using-javascript.html [quiz layout] -->

<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <title>Quiz</title>

    <link rel="stylesheet" href="../css/quiz.css">

</head>

<body>
    <form action = "../user/quiz" method = "post">
    <div id="container">

        <div id="start">Start Quiz!</div>

        <div id="quiz" style="display: none;">

            <div id="question" name = "question"></div>

            <div id="qImg"></div>

            <div id="choices">

                <div class="choice" name = "choiceA" id="A" onclick="checkAnswer('A')"></div>

                <div class="choice" name = "choiceB" id="B" onclick="checkAnswer('B')"></div>

                <div class="choice" name = "choiceC" id="C" onclick="checkAnswer('C')"></div>

            </div>

            <div id="timer">

                <div id="counter"></div>

                <div id="btimeGauge"></div>

                <div id="timeGauge"></div>

            </div>

            <div id="progress"></div>

        </div>
        
        <div id="scoreContainer" style="display: none;"></div>

    </div>

    <script src="../js/quiz.js"></script>
    </form>
</body>

</html>