<html>
    <head>
        <link href="../css/LSFpage.css" rel="stylesheet"/>
        <title>BMI Calculator</title>
    </head>
    <body>
        <div id="BMIMain" style = "background: #E9E8E8;">    
            <div id="BMI">
                <div class = "img">
                    <img src = "../img/image-risk01.gif"></img>
                </div> 
                <form name ="Calculator">
                    <h3 id = "result" style = "font-size: 22px; padding: 10px; padding-top: 20px;">Your BMI: </h3>
                    <h3 style = "font-size: 22px;">Standard BMI: 20</h3>
                </form>
                <br>
                    <button id = "btnS" name = "button" type = "submit" style = "width: 210px; height: 40px; font-size: 20px; border-radius: 8px; color: white;">Back to Calculator</button></a>
            </div>
        </div>

        <script>
            const init = function(e) {
                let btn = document.querySelector("#btnS");
                let Result = document.location.search.replace(/^.*?\=/ , '');
                document.getElementById("result").innerHTML = "Your bmi score is : " + Result;

                btn.addEventListener('click', function() {
                    window.document.location = './Weight';
                    
                });
            };

            document.addEventListener('DOMContentLoaded', function () {
                init();
            });
        </script>

    </body>
</html>
