<html>
    <head>
        <link href="../css/LSFpage.css" rel="stylesheet"/>
        <title>BMI Calculator</title>
    </head>
    <body>
        <div id="BMIMain" style = "background: #E9E8E8;">    
            <div id="BMI">
                <div class = "img">
                    <img src = "../img/image02.gif"></img>
                </div> 
                <form name ="Calculator">
                    <h3 style = "font-size: 22px; padding: 10px; padding-top: 20px;">What is your Weight?</h3>
                    <input id = "txtBoxW" name = "display"  placeholder = "0kg" style = "width: 210px; height: 60px; text-align: right; font-size: 30px; border-radius: 8px; margin: 3px;"/>
                    <br>
                    <input id = "btn" type = "button" value = "7" onClick = "document.Calculator.display.value += '7' " style = "width: 66px; height: 35px; font-size: 18px; border-radius: 8px; margin: 3px;">
                    <input id = "btn" type = "button" value = "8" onClick = "document.Calculator.display.value += '8' " style = "width: 66px; height: 35px; font-size: 18px; border-radius: 8px;">
                    <input id = "btn" type = "button" value = "9" onClick = "document.Calculator.display.value += '9' " style = "width: 66px; height: 35px; font-size: 18px; border-radius: 8px;">
                    <br>
                    <input id = "btn" type = "button" value = "6" onClick = "document.Calculator.display.value += '6' " style = "width: 66px; height: 35px; font-size: 18px; border-radius: 8px; margin: 3px;">
                    <input id = "btn" type = "button" value = "5" onClick = "document.Calculator.display.value += '5' " style = "width: 66px; height: 35px; font-size: 18px; border-radius: 8px;">
                    <input id = "btn" type = "button" value = "4" onClick = "document.Calculator.display.value += '4' " style = "width: 66px; height: 35px; font-size: 18px; border-radius: 8px;">
                    <br>
                    <input id = "btn" type = "button" value = "3" onClick = "document.Calculator.display.value += '3' " style = "width: 66px; height: 35px; font-size: 18px; border-radius: 8px; margin: 3px;">
                    <input id = "btn" type = "button" value = "2" onClick = "document.Calculator.display.value += '2' " style = "width: 66px; height: 35px; font-size: 18px; border-radius: 8px;">
                    <input id = "btn" type = "button" value = "1" onClick = "document.Calculator.display.value += '1' " style = "width: 66px; height: 35px; font-size: 18px; border-radius: 8px;">
                    <br>
                    <input id = "btn" type = "button" value = "0" onClick = "document.Calculator.display.value += '0' " style = "width: 66px; height: 35px; font-size: 18px; border-radius: 8px; margin: 3px;">
                    <input id = "btn" type = "button" value = "." onClick = "document.Calculator.display.value += '.' " name = "dot" style = "width: 66px; height: 35px; font-size: 18px; border-radius: 8px;">
                    <input id = "btn" type = "button" value = "C" onClick = "document.Calculator.display.value = '' " style = "width: 66px; height: 35px; font-size: 18px; border-radius: 8px;">
                </form>     
                    <br>
                    <button id = "btnS" name = "button" type = "submit" style = "width: 210px; height: 40px; font-size: 20px; border-radius: 8px; color: white;">Next</button>
            </div>
        </div>
        <script>

            // Restricts input for the given textbox to the given inputFilter.
            function setInputFilter(textbox, inputFilter) {
            ["input", "keydown", "keyup", "mousedown", "mouseup", "select", "contextmenu", "drop"].forEach(function(event) {
                textbox.addEventListener(event, function() {
                if (inputFilter(this.value)) {
                    this.oldValue = this.value;
                    this.oldSelectionStart = this.selectionStart;
                    this.oldSelectionEnd = this.selectionEnd;
                } else if (this.hasOwnProperty("oldValue")) {
                    this.value = this.oldValue;
                    this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
                }
                });
            });
            }

            // Restrict input to digits and '.' by using a regular expression filter.
            setInputFilter(document.getElementById("txtBoxW"), function(value) {
            return /^\d*\.?\d*$/.test(value);
            });

            const init = function(e) {
                let btn = document.querySelector("#btnS");
                let Weight = document.getElementById("txtBoxW").value;
                

                btn.addEventListener('click', function() {
                    window.document.location = './Height' + '?Weight=' + Weight;
                });
            };

            document.addEventListener('DOMContentLoaded', function () {
                init();
            });
            
         </script>
    </body>      
</html>